.subheadingmissing{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top:6rem;
    margin-bottom: 5rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.personheader{
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
    
}
.personwhole{
    min-height: 100vh;
}